html {
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3em;

  
}

button {
  margin-left: 10em;

  size: 1em;
}

section {
  margin-left: 10em;
  padding-bottom: 3em;
  font-size: 2em;
}